body {
  margin: 0;
  padding: 0;
  color: #444;
  line-height: 150%;
  background: linear-gradient(125deg, #ffd673, #ffb2c1);
  font-family: "Nico Moji";
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}



/*========================================
  リンク
========================================*/

a,
a:active,
a:focus {
  color: #b6a489;
}
a:hover {
  text-decoration: none;
}
/*========================================
  フォント
========================================*/
/*
.num {
  font-family: 'Montserrat', sans-serif;
  
}
*/
.wf-nicomoji { font-family: "Nico Moji"; }
/*トップバナー*/

#top-baner {
  width: 100%;
}
/*========================================
  ヘッダー
========================================*/
header {
  margin-bottom: 30px;
  width: 100%;
  height: 80px;
  background: #333;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: "Nico Moji";
  line-height: 80px;
}

header h1 a {
  color: #b6a489;
  text-decoration: none;
}
/*========================================
  ナビゲーション
========================================*/
#top-nav {
  position: relative;
  float: right;
  width: 500px;
  height: 90px;
}

nav a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}

#top-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 450px;
  height: 80px;
  list-style: none;
  line-height: 80px;
  font-family: "Nico Moji";
}

#top-nav ul li {
  float: right;
}
/*========================================
  レイアウト
========================================*/

.site-width {
  margin: 0 auto;
  width: 980px;
}

#main {
  float: left;
  min-height: 600px;
}

.page-1colum #main {
  width: 100%;
}

.page-2colum #main {
  width: 760px;
}
.page-logined #main{
  box-sizing: border-box;
  border: 5px solid #f1f1f1;
}

section h1.title {
  text-align: center;
  font-family: "Nico Moji";
}

#contents {
  overflow: hidden;
  margin: 20px auto;
  background: linear-gradient(125deg, #ffd673, #ffb2c1);
}
/* ページタイトル */

.page-title {
  margin-bottom: 50px;
  padding-top: 20px; /* Lesson14にて追加 */
  text-align: center;
  font-size: 42px;
  font-family: "Nico Moji";
}
/*========================================
  サイドバー
========================================*/

#sidebar {
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 15px;
  min-height: 600px;
  width: 200px;
  background: #f6f5f4;
}

#sidebar .title {
  text-align: left;
  font-size: 14px;
}

#sidebar .selectbox {
  position: relative;
}

#sidebar select {
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  border-radius: 0;
  font-size: 14px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#sidebar .icn_select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}
.page-logined #sidebar{
  margin: 0 0 0 20px;
}
.page-logined #sidebar > a{
  display: block;
  margin-bottom: 15px;
}

/*========================================
  フッター
========================================*/

footer {
  padding: 15px;
  width: 100%;
  background: #333;
  color: #f6f5f5;
  text-align: center;
  font-size: 15px;
  font-family: "Nico Moji";
}

footer a {
  color: #f6f5f5;
}
/*contact*/

#contact {
  margin-bottom: 150px;
}
/*========================================
  ページネーション
========================================*/

.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: black;
  text-decoration: none;
  font-family: "Nico Moji";
}

.pagination .list-item.active a {
  background: #333;
  color: white;
}

.pagination .list-item a:hover {
  background: #333;
  color: white;
}
/*========================================
  検索エリア
========================================*/

.search-title {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 5px 10px;
  height: 40px;
  background: #f6f5f4;
  line-height: 40px;
}

.search-left {
  float: left;
}

.search-right {
  float: right;
}

.search-title .total-num {
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Nico Moji";
}
/*========================================
  リスト
========================================*/

.list > .title {
  padding-left: 10px;
  border-left: 6px solid #b6a489;
}

.panel-list {
  overflow: hidden;
  margin-right: -15px;
}
.list h2 {
  margin-bottom: 20px;
}

.panel-list > .panel {
  float: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 15px;
  min-height: 185px;
  width: 25%;
  color: #333;
  text-decoration: none;
  line-height: 1.2em;
}

a.panel:hover {
  text-decoration: underline;
}

.panel-list > .panel img {
  width: 100%;
}

.panel-list > .panel .panel-title {
  margin: 0;
  text-align: center;
}
/* テーブルリスト
========================================*/

.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
}

.list-table th,
.list-table td {
  padding: 5px;
}
.list-table th{
  text-align: left;
}
.list-table > .table > tbody td {
  border-right: none;
  background: #f6f5f4;
}
/*========================================
  ボタン
========================================*/

.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background: #b6a489;
  color: white;
}

.btn.btn-mid {
  max-width: 150px;
}
/*========================================
  フォーム
========================================*/
label{
  display: block;
  font-size: 20px;
}
/* Lesson9で追加 */
label.err input, label.err select{
  background: #f7dcd9;
}
input[type="text"], input[type="password"]/* Lesson9で追加 */, input[type="number"], .form select,
textarea {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 60px;
  border: none;
  background: #f6f5f5;
  font-size: 18px;
}
input[type="checkbox"]{
  width: 18px;
  height: 18px;
  background: #f6f5f5;
  vertical-align: middle;
}
input[type="number"] {
  width: 100px;
  text-align: left;
}
input[type="submit"] {
  margin: 15px 0;
  padding: 15px 30px;
  width: 100%;
  border: none;
  background: #333;
  color: white;
  font-size: 14px;
}

select:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.form-container {
  margin: 0 auto;
}
.page-1colum .form-container{
  margin: 80px auto;
}

.form {
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  border: 5px solid #f1f1f1;
}

.form .label-require{
  margin-left: 5px;
  background: #fe8a8b;
  font-size: 14px;
  padding: 3px 5px;
  color: white;
  vertical-align: bottom;
}

.page-logined .form{
  border: none;
}

.form .title {
  margin-bottom: 40px;
  text-align: center;
}
.form .area-msg,.area-send-msg .area-msg{
  padding: 0 0 15px 0;
  color: red;
}
.msg-right-time {
  float: right;
  margin-right: 70px;
}
.msg-left-time {
  float: left;
  margin-left: 70px;
}
.form .btn-container {
  overflow: hidden;
}

.form .btn {
  float: right;
}
.form .area-drop{
  margin-bottom: 15px;
  width: 100%;
  height: 140px;
  background: #f6f5f4;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
}
.form .input-file{
  opacity:0;
  width:100%;
  height:140px;
  position:absolute;
  top:0;
  left:0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}
.form .prev-img{
  width:100%;
  height: 400px;   /* 写真アップした際に、枠からはみ出ないようにするために追加 */
  position:absolute;
  top:0;
  left:0;
}
.form .imgDrop-container{
  width: 33.333%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}

.form .counter-text{
  text-align: right;
}
/* フォームグループ
=================================*/
.form-group{
  position: relative;
  overflow: hidden;
}
.form-group > input{
  float: left;
}
.form-group > .option{
  position: relative;
  top: 40px;
  display: block;
  float: left;
  padding-left: 10px;
}

/*========================================
  その他
========================================*/
.msg-slide{
  position: fixed;
  top: 0;
  width:100%;
  height:40px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size:16px;
  line-height: 40px;
}
/*========================================
  商品詳細ページ
========================================*/
.badge{
  padding: 5px 10px;
  color: white;
  background: #7acee6;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
#main .title{
  font-size: 38px;
  padding: 10px 0;
  font-family: "Nico Moji";
}
.product-img-container{
  overflow: hidden;
}
.product-img-container img{
  width: 100%;
}
.product-img-container .img-main{
  width: 750px;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
.product-img-container .img-sub{
  width: 230px;
  float: left;
  background: #f6f5f4;
  padding: 15px;
  box-sizing: border-box;
}
.product-img-container .img-sub:hover{
  cursor: pointer;
}
.product-img-container .img-sub img{
  margin-bottom: 15px;
}
.product-img-container .img-sub img:last-child{
  margin-bottom: 0;
}
.product-detail{
  background: #f6f5f4;
  padding: 15px;
  margin-top: 15px;
  min-height: 150px;
}
.product-buy{
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 50px;
  line-height: 50px;
}
.product-buy .item-left{
  float: left;
}
.product-buy .item-right{
  float: right;
}
.product-buy .price{
  font-size: 32px;
  margin-right: 30px;
}
.product-buy .btn{
  border: none;
  font-size: 18px;
  padding: 10px 30px;
}
.product-buy .btn:hover{
  cursor: pointer;
}

/* 連絡掲示板 */
.msg-info{
  background: #f6f5f4;
  padding: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
.msg-info h3 {
  text-align: center;
  margin-bottom: 15px;
}
.msg-comment {
  float: right;
  text-align: left;
  height: 100px;
  width: 50%;
  border: 2px solid #333;
}
.msg-info img:nth-child(3) {
  margin-right: 5px;
  margin-left: 5px;
}

.msg-info .product-info .left,
.msg-info .product-info .right{
  float: left;
}
.msg-info .product-info .right{
  padding-left: 15px;
}
.msg-info .product-info .price{
  display: inline-block;
}
.area-bord{
  height: 500px;
  overflow-y: scroll;
  background: #f6f5f4;
  padding: 15px;
}
.area-send-msg{
  background: #f6f5f4;
  padding: 15px;
  overflow: hidden;
}
.area-send-msg textarea{
  width:100%;
  background: white;
  height: 100px;
  padding: 15px;
}
.area-send-msg .btn-send{
  width: 150px;
  float: right;
  margin-top: 0;
}
.area-bord .msg-cnt{
  width: 80%;
  overflow: hidden;
  margin-bottom: 30px;
}
.area-bord .msg-cnt .avatar{
  width: 5%;
  overflow: hidden;
  float: left;
}
.area-bord .msg-cnt .avatar img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
}
.area-bord .msg-cnt .avatar-name {
  font-size: 10px;
}
.area-bord .msg-cnt .msg-inrTxt{
  width: 85%;
  float: left;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 0 25px;
  position: relative;
}
.area-bord .msg-cnt.msg-left .msg-inrTxt{
  background: #f6e2df;
}
.area-bord .msg-cnt.msg-left .msg-inrTxt > .triangle{
  position: absolute;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #f6e2df;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.area-bord .msg-cnt.msg-right{
  float: right;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt{
  background: #d2eaf0;
  margin: 0 25px 0 0;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt > .triangle{
  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #d2eaf0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.area-bord .msg-cnt.msg-right .msg-inrTxt{
  float: right;
}
.area-bord .msg-cnt.msg-right .avatar{
  float: right;
}

/* お気に入り */
.icn-like {
  float: right;
  color: #ddd;
}
.icn-like:hover {
  cursor: pointer;
}
.icn-like.active {
  color: crimson;
}

